{% if mess%}
    <script>
        alert('{{mess}}')
    </script>
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
    <title>Sing Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--
<form action="/postsignup/" method="post">
    {% csrf_token %}
    Name:
    <input type="text" name="name"><br><br>
    Email:
    <input type="email" name="email"><br><br>
    Password:
    <input type="password" name="pass"><br><br>
    <input type="Submit" value="Sign Up">
</form>
-->


<body style="background-color:#ffe866;">
    <div class="container" align="center"><br><br>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/dc/SA-Logo.svg/2000px-SA-Logo.svg.png" class="img-rounded" alt="Cinque Terre"width="100" height="100"><br><br>
      <form action="/postsignup/" method="post" class="form-inline">{% csrf_token %}
          <div class="form-group">
          <label for="email1">Name:</label>
          <input type="text" class="form-control" id="email1" placeholder="Your Name" name="name">
        </div><br><br>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        </div><br><br>
        <div class="form-group">
          <label for="pwd">Password:</label>
          <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pass">
        </div><br><br>
          <input type="submit" value="Sign Up " class="btn btn-success"> &nbsp;
      </form>
    </div>
</body>

</body>
</html>
